*, ::after, ::before { margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; color: inherit; list-style: none; }
:root { --bg-color: #0b001a; --green-color: #3d9970; }
body { font-family: sans-serif; background: var(--bg-color); color: #fff; overflow-x: hidden; }
.container, .header { width: 92%; margin: 1rem auto 0; }

/******************** Float items section desgin *******************/
.flying > div { position: absolute; }
.flying .circle { width: 100px; height: 100px; background: var(--green-color); border-radius: 50%; } /* circle */
.flying .circle.left_bottom { left: -50px; bottom: -40px; }
.flying .circle.right_bottom { right: -65px; bottom: 75px; }
.flying .point {  width: 15px; height: 15px; background: var(--green-color); border-radius: 50%; }/* point */
.flying .point.right_top { right: 115px; top: 195px; }
.flying .point.left_top { left: 10px; top: 320px; }
.flying .point.center_bottom { right: 35rem; top: 38rem; }

.flying .shadow { width: 0; height: 0; box-shadow: 0px 0px 153px 75px var(--green-color); background: var(--green-color);} /* shadow */
.flying .shadow.left_top { left: 0; top: 8rem; }
.flying .shadow.right_top { right: 30rem; top: -1rem; }

.shadow-only {
    width: 0;
    height: 0;
    box-shadow: 0 0 20px 15px rgba(144, 238, 144, 0.5); /* Light green shadow */
    background-color: transparent;
    border: none;
    visibility: visible; /* Keep the shadow visible */
}

/******************** Header section desgin *******************/
.header { padding: 12px; padding-bottom: 15px; position: fixed; display: flex; align-items: center; justify-content: space-between; border-bottom: 3px solid var(--green-color); }
.header .logo { display: flex; justify-content: center; align-items: center; gap: 3px; font-weight: bold; }
.header .logo .img { max-width: 90px; max-height: 40px; }
/* .header .navbar { color: #6E6E76; } */
.header .navbar ul { display: flex; align-items: center; gap: 95px; font-size: 18px; }
.header .navbar ul li { padding: 8px 16px; text-align: center; cursor: pointer; }
.header .navbar ul li.active { color: var(--green-color); }
.header .auth { display: flex; align-items: center; gap: 1rem; }
.header .auth > a { padding: 8px 16px;  border-radius: 5px; transition: all .3s ease; border: 1px solid var(--green-color); }
.header .auth .register:hover { opacity: .8; }
.header .auth .try { font-weight: 520; }
.header .auth .try:hover { opacity: .8; }
.header.sticky { background: #fffff2; transition: background-color 0.3s ease; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); }

/******************** Hero section desgin *******************/
.hero { width: 100%; display: flex; gap: .5rem; padding-top: 11rem; }
.hero .content { width: 65%; display: flex; flex-direction: column; gap: 3rem; }
.hero .content .title { font-size: 4rem; }
.hero .content .btn { width: fit-content; background: var(--green-color); border-radius: 15px; padding: 8px 12px; text-align: center; font-size: 18px; letter-spacing: .05rem; font-weight: bold; }
.hero .image { width: 35%; height: 50%; }
.hero .image img { width: 420px; height: 430px; border-radius: 50%; }
/* .content { padding-top: 100px;  } */
